@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/Muli/Muli-Regular.ttf");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../font/Muli/Muli-Bold.ttf");
}
@font-face {
  font-family: "Muli-Light";
  src: url("../font/Muli/Muli-Light.ttf");
}
@font-face {
  font-family: "Modern_Sans";
  src: url("../font/ModernSans/ModernSans-Light.otf");
}
@font-face {
  font-family: "SEGOSCRIPT";
  src: url("../fonts/segoesc.ttf");
}
html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Muli-Regular";
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: linear-gradient(80deg, #1297E0, #9B59B6);
}

body .head_meet {
  width: 100%;
  height: 100vh;
}
body .head_meet h4 {
  text-transform: uppercase;
  margin-top: 80px;
}
body .head_meet h3 {
  margin-top: 150px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
}
body .head_meet h3 font {
  padding: 15px;
}
body .head_meet h3 font:nth-child(1) {
  color: #ffffff;
  background: rgba(36, 37, 42, 0.8);
  animation: font_1 2s;
}
body .head_meet h3 font:nth-child(2) {
  color: #24252A;
  background: rgba(255, 255, 255, 0.8);
  animation: top 2s;
}
body .head_meet .skill {
  margin-top: 20px;
}
body .head_meet .skill div {
  padding: 40px;
}
body .head_meet .skill div .inter_skill {
  transition: all 0.5s ease;
  animation: skill_animation 3s;
  padding: 100px;
  border-radius: 200px;
  background: rgba(0, 0, 0, 0.8);
}
body .head_meet .skill div .inter_skill img {
  width: 100px;
}
body .head_meet .skill div .inter_skill h3 {
  margin-top: 10px;
  font-size: 40px;
}
body .head_meet .skill div .inter_skill:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}
body .head_meet .down {
  margin-top: -50px;
}
body .head_meet .down a {
  animation: a 4s;
  text-decoration: none;
}
body .head_meet .down a h4 {
  text-transform: uppercase;
}
body .head_meet .down a:hover {
  color: #24252A;
  transition: all 0.5s ease;
}
body .head_meet .down a i {
  font-size: 50px;
}
body .app {
  width: 100%;
  height: 100vh;
}
body .app .row {
  margin-top: 150px;
}
body .app .row div:nth-child(1) {
  margin-top: 200px;
}
body .app .row div:nth-child(1) h1 {
  margin-left: 40px;
}
body .app .row div:nth-child(1) .icon {
  display: flex;
  margin-left: 50px;
}
body .app .row div:nth-child(1) .icon i {
  font-size: 80px;
  padding: 20px;
}
body .app .row div:nth-child(1) .icon i:hover {
  color: #24252A;
}
body .app .row div:nth-child(2) {
  margin-top: 100px;
}
body .app .row div:nth-child(2) img {
  color: #ffffff;
  width: 800px;
  height: auto;
}

@keyframes font_1 {
  0%, 50% {
    margin-left: -500px;
    opacity: 0;
    color: #24252A;
    background: rgba(255, 255, 255, 0.8);
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes top {
  0% {
    font-size: 100px;
    opacity: 0;
  }
  50% {
    color: #ffffff;
    background: rgba(36, 37, 42, 0.8);
  }
  100% {
    opacity: 1;
  }
}
@keyframes skill_animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes a {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=meet.css.map */
