$color:#24252A;
$bodycolor:#1297E0;
$bgcolor:linear-gradient(80deg, #1297E0, #9B59B6);
@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli/Muli-Regular.ttf');
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('../font/Muli/Muli-Bold.ttf');
}

@font-face {
    font-family: 'Muli-Light';
    src: url('../font/Muli/Muli-Light.ttf');
}

@font-face {
    font-family: 'Modern_Sans';
    src: url('../font/ModernSans/ModernSans-Light.otf');
}

@font-face {
    font-family: 'SEGOSCRIPT';
    src: url('../fonts/segoesc.ttf');
}

html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Muli-Regular';
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background: $bgcolor;
}

body {
    .head_meet {
        width: 100%;
        height: 100vh;
        h4 {
            text-transform: uppercase;
            margin-top: 80px;
        }
        h3 {
            margin-top: 150px;
            text-transform: uppercase;
            font-size: 60px;
            font-weight: bold;
            font {
                padding: 15px;
                &:nth-child(1) {
                    color: #ffffff;
                    background: rgba(36, 37, 42, .8);
                    animation: font_1 2s;
                }
                &:nth-child(2) {
                    color: #24252A;
                    background: rgba(255, 255, 255, .8);
                    animation: top 2s;
                }
            }
        }
        .skill {
            margin-top: 20px;
            div {
                padding: 40px;
                .inter_skill {
                    transition: all .5s ease;
                    animation: skill_animation 3s;
                    padding: 100px;
                    border-radius: 200px;
                    img {
                        width: 100px;
                    }
                    background: rgba(0,
                    0,
                    0,
                    .8);
                    h3 {
                        margin-top: 10px;
                        font-size: 40px;
                    }
                    &:nth-child(1) {}
                    &:nth-child(2) {}
                    &:nth-child(3) {}
                    &:hover {
                        background: rgba(0, 0, 0, .6);
                        transition: all .5s ease;
                    }
                }
            }
        }
        .down {
            margin-top: -50px;
            a {
                animation: a 4s;
                text-decoration: none;
                h4 {
                    text-transform: uppercase;
                }
                &:hover {
                    color: $color;
                    transition: all .5s ease;
                }
                i {
                    font-size: 50px;
                }
            }
        }
    }
    .app {
        width: 100%;
        height: 100vh;
        .row {
            margin-top: 150px;
            div {
                &:nth-child(1) {
                    margin-top: 200px;
                    h1 {
                        margin-left: 40px;
                    }
                    .icon {
                        display: flex;
                        margin-left: 50px;
                        i {
                            font-size: 80px;
                            padding: 20px;
                            &:hover {
                                color: #24252A;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    margin-top: 100px;
                    img {
                        color: #ffffff;
                        width: 800px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@keyframes font_1 {
    0%,
    50% {
        margin-left: -500px;
        opacity: 0;
        color: #24252A;
        background: rgba(255, 255, 255, .8);
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes top {
    0% {
        font-size: 100px;
        opacity: 0;
    }
    50% {
        color: #ffffff;
        background: rgba(36, 37, 42, .8);
    }
    100% {
        opacity: 1;
    }
}

@keyframes skill_animation {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes a {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
    }
}